{% extends "Patient/base.html.twig" %}

{% block breadcrumb %}
    <li><a href="/admin/patient/">Pacientes</a></li>
    <li class="active">{{ entity }}</li>
{% endblock %}


{% block pageContent %}

    <h1>{{ entity }}</h1>

    <a href="/admin/patient/{{ entity.id }}/edit" class="btn primary"> Editar </a>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; margin: 20px 0;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Datos</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p>Nombre: {{ entity.firstName }}</p>
            <p>Apellido: {{ entity.lastName }}</p>
            <p>Mail: {{ entity.email }}</p>
            <p>Dirección: {{ entity.address }}</p>
            <p>Teléfono: {{ entity.phone | default("-") }}</p>
            <p>Nacimiento: {{ entity.birthDate | date ("d/m/Y")}}</p>
            <p>Sexo: {{ entity.sexText }}</p>
            <p>DNI: ({{ entity.dniType }}) {{ entity.dni }}</p>
            <p>Obra Social: {{ entity.medicalInsurance | default("-") }}</p>
        </div>
    </div>

    {% if entity.demographicData %}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%;">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Datos Demográficos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Nombre: {{ entity.firstName }}</p>
                <p>Heladera: {% if entity.demographicData.refrigerator %}Si{% else %}No{% endif %}</p>
                <p>Electricidad: {% if entity.demographicData.electricity %}Si{% else %}No{% endif %}</p>
                <p>Mascota(s): {% if entity.demographicData.pet %}Si{% else %}No{% endif %}</p>

                <p>Tipo de vivienda: {{ entity.demographicData.houseType }}</p>
                <p>Tipo de calefacción: {{ entity.demographicData.heatingType }}</p>
                <p>Tipo de agua: {{ entity.demographicData.waterType }}</p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/admin/patient/{{ entity.id }}/demographic/edit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Modificar Datos
                </a>
            </div>
        </div>
    {% else %}
        <a href="/admin/patient/{{ entity.id }}/demographic/add" class="btn primary"> Agregar datos demográficos </a>
    {% endif %}
{% endblock %}

