{% extends "User/base.html.twig" %}

{% block breadcrumb %}
    <li><a href="/admin/user/">Usuarios</a></li>
    <li><a href="/admin/user/{{ user.id }}">{{ user.username }}</a></li>
    <li class="active">Editar</li>

{% endblock %}


{% block pageContent %}

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Modificar Usuario</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="/admin/user/{{ user.id }}/edit" method="post">
                <div class="form-group">
                    <div class="input-affix">
                        <i class="prefix material-icons">mail</i>
                        <input name="email" class="full-width" type="email" placeholder="Correo electrónico" value="{{ user.email }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <input name="firstName" class="full-width" type="text" placeholder="Nombre" value="{{ user.firstName }}" required/>
                    <input name="lastName" class="full-width" type="text" placeholder="Apellido" value="{{ user.lastName }}" required/>
                </div>
                <div class="form-group">
                    <div class="checkbox lg">
                        <input type="checkbox" id="inputCheckbox" name="enabled" {% if user.enabled %} checked {% endif %}>
                        <label for="inputCheckbox">Habilitado</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rolesID">Roles:</label>
                    <select name="rolesId[]" multiple>
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if user.roles.contains(role) %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn primary" type="submit">modificar</button>
            </form>
        </div>
    </div>
{% endblock %}

