{% extends "User/base.html.twig" %}

{% block breadcrumb %}
    <li><a href="/admin/user/">Usuarios</a></li>
    <li><a href="/admin/user/{{ user.id }}">{{ user.username }}</a></li>
    <li class="active">Editar</li>

{% endblock %}


{% block pageContent %}


    <div class="card full-width">
        <div class="card-body">
            <h4 class="card-title">Editar</h4>
            <form action="/admin/user/{{ user.id }}/edit" method="post">
                <div class="form-group">
                    <div class="input-affix">
                        <i class="prefix material-icons">mail</i>
                        <input name="email" class="full-width" type="email" placeholder="Correo electrónico" value="{{ user.email }}" required />
                    </div>
                </div>
                <div class="form-group">
                    <input name="firstName" class="full-width" type="text" placeholder="Nombre" value="{{ user.firstName }}" required/>
                    <input name="lastName" class="full-width" type="text" placeholder="Apellido" value="{{ user.lastName }}" required/>
                </div>
                <div class="form-group">
                    <div class="checkbox lg">
                        <input type="checkbox" id="inputCheckbox" name="enabled" {% if user.enabled %} checked {% endif %}>
                        <label for="inputCheckbox">Habilitado</label>
                    </div>
                </div>
                <label for="rolesID">Roles:</label>
                <div class="form-group">
                    <select name="rolesId[]" multiple class="full-width" style="height: initial;">
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if user.roles.contains(role) %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="card-link btn primary" type="submit">Modificar Usuario</button>
            </form>
        </div>
    </div>
{% endblock %}

