{% extends "Admin/base.html.twig" %}

{% block content %}

    <h1>Usuarios</h1>


    <a href="/admin/user/new" class="btn primary">Crear</a>

    <form action="/admin/user/" method="get">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; margin-bottom: 20px;">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Buscar</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="form-group">
                    <div class="input-affix">
                        <i class="prefix material-icons">person</i>
                        <input name="username" class="full-width" type="text" placeholder="Nombre de Usuario" value="" />
                    </div>
                </div>
                <label for="enabled">Estado</label>
                <div class="form-group">
                    <select name="enabled" class="full-width">
                        <option value="-1" selected>Sin Filtro</option>
                        <option value="0">Bloqueado</option>
                        <option value="1">Activo</option>
                    </select>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Buscar
                </button>
            </div>
        </div>
    </form>


    <a href="/admin/patient/?page={{ prev }}" class="btn primary" {% if prev > 0%}disabled{% endif %}>Anterior</a>
    Págin {{ page }} / {{ pages }}
    <a href="/admin/patient/?page={{ next }}" class="btn primary" {% if next <= pages %}disabled{% endif %}>Siguitente</a>
    
    <br>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%; margin-top: 20px;">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Nombre de Usuario</th>
            <th class="mdl-data-table__cell--non-numeric">Email</th>
            <th class="mdl-data-table__cell--non-numeric">Nombre Completo</th>
            <th class="mdl-data-table__cell--non-numeric">Estado</th>
        </tr>
        </thead>
        <tbody>
        {% for user in entities %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="/admin/user/{{ user.id }}">{{ user.username }}</a></td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.fullName }}</td>
            <td class="mdl-data-table__cell--non-numeric">{% if user.enabled %}activo{% else %}bloqueado{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

