{% extends "User/base.html.twig" %}

{% block breadcrumb %}
    <li class="active">Usuarios</li>
{% endblock %}

{% block actions %}
    <a href="/admin/user/new" class="btn primary">Crear Nuevo</a>
{% endblock %}


{% block pageContent %}

    <div class="card full-width">
        <div class="card-body">
            <form action="/admin/user/" method="get">
                <div class="row no-margin">
                    <div class="col xs-12 md-8">
                        <div class="input-affix">
                            <i class="prefix material-icons">person</i>
                            <input name="username" class="full-width" type="text" placeholder="Buscar username"
                                   value="{{ app.request.query.get('username') | default('') }}"/>
                        </div>
                    </div>
                    <div class="col xs-12 md-4">
                        <select name="enabled" class="full-width" onchange="submit();">
                            <option value="-1">Sin filtro de estado</option>
                            <option value="0" {% if app.request.query.get('enabled') == 0 %}selected{% endif %}>Bloqueado</option>
                            <option value="1" {% if app.request.query.get('enabled') == 1 %}selected{% endif %}>Activo</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Correo Electrónico</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>

                {% for user in entities %}
                    <tr>
                        <td><a href="/admin/user/{{ user.id }}">{{ user.username }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.fullName }}</td>
                        <td>{% if user.enabled %}activo{% else %}bloqueado{% endif %}</td>
                        <td>
                            <div class="btn-group" role="button" aria-label="actions">
                                <a href="/admin/user/{{ user.id }}" class="btn primary">Ver</a>
                                <a href="/admin/user/{{ user.id }}/edit" class="btn primary">Editar</a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-danger">No se encontraron usuarios</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if pages > 1 %}
            <nav class="btn-toolbar pull-right" role="toolbar" aria-label="The pagination bar">
                <div class="btn-group" role="group" aria-label="Pagination">
                    {% for pageIndex in range(1, pages) %}
                        <a href="/admin/user/?page={{ pageIndex }}&username={{
                            app.request.query.get('username') | default('')
                        }}&enabled={{ app.request.query.get('enabled') | default('-1') }}"
                           class="btn {% if pageIndex == page %}primary{% endif %}" >{{ pageIndex }}</a>
                    {% endfor %}
                </div>
            </nav>
            {% endif %}
        </div>
    </div>


{% endblock %}

