{% extends "User/base.html.twig" %}

{% block breadcrumb %}
    <li><a href="/admin/user/">Usuarios</a></li>
    <li class="active">{{ entity.username }}</li>
{% endblock %}

{% block actions %}
    <a href="/admin/user/{{ entity.id }}/edit" class="btn primary"> Editar </a>
{% endblock %}


{% block pageContent %}

    <div class="row">
        <div class="col xs-12 md-6">
            <div class="card full-width">
                <div class="card-body">
                    <h4 class="card-title">Datos del Usuario</h4>
                    <table class="table table-hover">
                        <tbody>
                        <tr><th width="200px">Nombre de usuario:</th><td>{{ entity.username }}</td></tr>
                        <tr><th>Nombre:</th><td>{{ entity.firstName }}</td></tr>
                        <tr><th>Apellido:</th><td>{{ entity.lastName }}</td></tr>
                        <tr><th>Mail:</th><td>{{ entity.email }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col xs-12 md-6">

            <div class="card full-width">
                <div class="card-body">
                    <h4 class="card-title">Roles del Usuario</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre del Rol</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in entity.roles %}
                            <tr>
                                <td>{{ role }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-danger">Usuario sin Roles</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

