{% extends "Admin/base.html.twig" %}

{% block content %}

    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Modificar Datos Demograficos</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="/admin/patient/{{ patient.id }}/demographic/edit" method="post">

                <div class="form-group">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="refrigerator">
                        <input name="refrigerator" type="checkbox" id="refrigerator" class="mdl-checkbox__input" {% if data.refrigerator %}checked{% endif %}>
                        <span class="mdl-checkbox__label">Tiene Heladera</span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="electricity">
                        <input name="electricity" type="checkbox" id="electricity" class="mdl-checkbox__input" {% if data.electricity %}checked{% endif %}>
                        <span class="mdl-checkbox__label">Tiene Electricidad</span>
                    </label>
                </div>

                <div class="form-group">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="pet">
                        <input name="pet" type="checkbox" id="pet" class="mdl-checkbox__input" {% if data.pet %}checked{% endif %}>
                        <span class="mdl-checkbox__label">Tiene Mascota(s)</span>
                    </label>
                </div>

                <label for="birthDate">Tipo de Vivienda:</label>
                <div class="form-group">
                    <select name="houseType" class="full-width">
                        {% for type in houseTypes %}
                            <option value="{{ type.id }}"
                                    {% if data.houseType.id == type.id %}
                                        selected
                                    {% endif %}
                            >{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="birthDate">Tipo de Calefacción:</label>
                <div class="form-group">
                    <select name="heatingType" class="full-width">
                        {% for type in heatingTypes %}
                            <option value="{{ type.id }}"
                                    {% if data.heatingType.id == type.id %}
                                        selected
                                    {% endif %}
                            >{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="birthDate">Tipo de Agua:</label>
                <div class="form-group">
                    <select name="waterType" class="full-width">
                        {% for type in waterTypes %}
                            <option value="{{ type.id }}"
                                    {% if data.waterType.id == type.id %}
                                        selected
                                    {% endif %}
                            >{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn primary" type="submit">Modificar</button>
            </form>
        </div>
    </div>
{% endblock %}

