{% extends "DemographicData/base.html.twig" %}

{% block demoBreadcrumb %}
    <li class="active">Agregar</li>
{% endblock %}


{% block pageContent %}

    <div class="card full-width">
        <div class="card-body">
            <h4 class="card-title">Agregar Datos Demográficos</h4>
            <form action="/admin/patient/{{ patient.id }}/demographic/add" method="post">

                <div class="form-group">
                    <div class="checkbox lg">
                        <input type="checkbox" id="refrigerator" name="refrigerator">
                        <label for="refrigerator">Tiene Heladera</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox lg">
                        <input type="checkbox" id="electricity" name="electricity">
                        <label for="electricity">Tiene Electricidad</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox lg">
                        <input type="checkbox" id="pet" name="pet">
                        <label for="pet">Tiene Mascota(s)</label>
                    </div>
                </div>

                <label for="birthDate">Tipo de Vivienda:</label>
                <div class="form-group">
                    <select name="houseType" class="full-width">
                        {% for type in houseTypes %}
                            <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="birthDate">Tipo de Calefacción:</label>
                <div class="form-group">
                    <select name="heatingType" class="full-width">
                        {% for type in heatingTypes %}
                            <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="birthDate">Tipo de Agua:</label>
                <div class="form-group">
                    <select name="waterType" class="full-width">
                        {% for type in waterTypes %}
                            <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn primary" type="submit">Modificar</button>
            </form>
        </div>
    </div>
{% endblock %}

